.characterCard {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.character-image {
    margin-right: 20px;
}

.stats {
    flex-grow: 1;
}

button {
    margin-top: 10px;
}
